<%- include('partials/header.ejs') %>

<section class="banner">
  <div class="wallpaper-text">
    <h2>Welcome to MusicWeb</h2>
    <h4>Music Everywhere</h4>
  </div>
</section>

<div id="about">
  <section class="first-content">
    <aside id="girl-info">
      <h2>About us !</h2>
      <p>
        Music is a great way to express yourself. When you listen to one it
        feels like you created a place where you can forget everything and just
        relax. <br />Email : xxxxxxxxxx@gmail.com <br />
        Tel : 043-449-4512
      </p>
    </aside>
  </section>
</div>

<%- include('partials/footer.ejs') %>
